@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* PAGE */
.exam-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #e0f2fe, #eef2ff);
  padding: 30px 0;
}

/* HEADER */
.exam-header {
  text-align: center;
  margin-bottom: 30px;
}

.ai-badge {
  display: inline-flex;
  gap: 8px;
  padding: 6px 14px;
  background: linear-gradient(135deg, #3b82f6, #60a5fa);
  color: white;
  border-radius: 20px;
  font-size: 13px;
}

.exam-title {
  font-weight: 700;
  margin-top: 12px;
}

.exam-subtitle {
  color: #475569;
}

/* INFO CARDS */
.info-row {
  margin-bottom: 20px;
}

.info-card {
     background: white;
    border-radius: 14px;
    padding: 51px;
    text-align: center;
    margin: 20px;
    transition: 0.3s;
}


.info-card:hover {
  background: linear-gradient(135deg, #dbeafe, #ede9fe);
  transform: translateY(-6px);
}

.info-card .icon {
  margin-bottom: 6px;
  color: #2563eb;
}

.info-card .label {
  font-size: 13px;
  color: #64748b;
  margin: 10px;
}

/* SUBJECT */
.subject-box {
  background: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
}

/* INSTRUCTIONS */
.instructions-box {
  background: #fef3c7;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

/* FORMS */
.form-card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.form-card h4 {
  margin-bottom: 12px;
}

.form-card input,
.form-card select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c7d2fe;
  margin-bottom: 10px;
}

.form-card input:focus,
.form-card select:focus {
  outline: none;
  border-color: #6366f1;
}

/* BUTTON */
.start-wrapper {
  text-align: center;
  margin-top: 20px;
}

.start-btn {
  background: linear-gradient(135deg, #2563eb, #6366f1);
  border: none;
  color: white;
  padding: 14px 36px;
  font-size: 16px;
  border-radius: 14px;
  transition: 0.3s;
}

.start-btn:hover {
  transform: scale(1.05);
}

/* MOBILE */
@media (max-width: 768px) {
  .exam-title {
    font-size: 18px;
  }
}
